.git
.gitignore

.venv
venv
env
ENV

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

*.md
docs/

.vscode
.idea

Dockerfile
.dockerignore
docker-compose.yml